.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nhead{
  text-decoration: none !important;
}
 
.nodec{
  text-decoration: none !important;
}

#hov:hover{
  color: #9a9da1 !important ;
}


.tablebody{
  height: 50vh;
}

.align-left {
  text-align: left !important;
}


.tabletop{
  max-height: 450px;
}

.table-bel {
  top: 0;
}

thead{
  position: sticky;
  top: 0;
  z-index: 1;
}

th{
  position: sticky;
  top: 0;
}

/* ... your existing styles ... */

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  
  display: inline-block;
  cursor: pointer;
}

.pagination li a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.pagination li.active a {
  background-color: #000;
  color: #fff;
}


